Win-Detours/.vs
Detours-Native/.vs
Detours-Modify-Binary/.vs
Detours-New-Process/.vs
Detours-Inject/.vs

# Visual Studio files I don't think we need
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipbd
*.idb
*.pdb
*.suo
*.tlog
*.ilk
*.psch
*.vcxproj.user
*.exp
*.obj
*.recipe
*.log