Win-Detours/.vs
Wind-Detours/Detours-Native/.vs
Wind-Detours/Detours-Modify-Binary/.vs
Wind-Detours/Detours-New-Process/.vs
Wind-Detours/Detours-Inject/.vs

# Visual Studio files I don't think we need
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipbd
*.idb
*.pdb
*.suo
*.tlog
*.ilk
*.psch
*.vcxproj.user
*.exp
*.obj
*.recipe
*.log